{
  "extends": "eslint-config-hfreire",
  "rules": {
   "node/no-deprecated-api": "off", 
   "promise/catch-or-return": "off",
   "unicorn/no-process-exit": "off",
   "promise/no-callback-in-promise": "off",
   "unicorn/no-abusive-eslint-disable": "off",
   "unicorn/no-new-buffer": "off"
  }
}
