[Unit]
Description=Redis Server
StopWhenUnneeded=true

[Service]
Type=forking
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=redis-server
PIDFile=/opt/dogbot/var/run/redis.pid
WorkingDirectory=/opt/dogbot
ExecStartPre=-/bin/mkdir -p /opt/dogbot/var/run
ExecStart=/opt/redis/bin/redis-server /opt/dogbot/share/redis/redis.conf
ExecReload=/bin/kill -USR2 $MAINPID
Restart=on-failure
